* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    background: #F3F5FC;
}

textarea {
    outline: none;
    border: none;
    background: transparent;
}

/* Header */

.logo-alura {
    position: fixed;
    padding: 40px 0 0 81px;
}

/* Main */

main {
    display: flex;
    justify-content: space-between;
    height: 80vh;
    width: 80%;
    margin: 0 auto;
}

::placeholder {
    color: #0A3871;
}

.input-container {
    padding-top: 168px;
}

.input-area {
    width: 680px;
    height: 288px;
    font-size: 32px;
    color: #0A3871;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 680px;
}

.info {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 50%;
    margin-bottom: 16px;
    font-size: 12px;
    color: #495057;
}

.icone-info {
    margin-right: 0.5rem;
}

.output-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    margin: 40px 0;
    width: 400px;
    height: 863px;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.output-wrapper {
    display: none;
    flex-direction: column;
}

.output-area {
    width: 336px;
    height: 700px;
    font-size: 24px;
    color: #495057;
    margin-bottom: 56px;
}

.not-found {
    display: flex;
    flex-direction: column;
}

.not-found h2 {
    color: #343A40;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.not-found h3 {
    color: #495057;
    text-align: center;
}

/* Footer */
.footer-container {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: #072b61;
    color: white;
    font-size: 0.7rem;
    padding: 1rem 0;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Inter';
}

.footer-container li {
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin-right: 8px;
}

.footer-container a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.footer-container img {
    margin-right: 5px;
    height: 14px;
    width: 14px;
}