button {
    box-sizing: border-box;
    background-color: #D8DFE8;
    width: 328px;
    height: 67px;
    padding: 1.5rem;
    border: 1px solid #0a3871;
    color: #0a3871;
    border-radius: 24px;
    box-shadow: 6px 6px #052051;
    cursor: pointer;
    transition-duration: 600ms;
}

button:hover {
    box-shadow: 0px 0px;
}

.btn-criptografar {
    background-color: #0a3871;
    color: #FFF;
}

.btn-copiar {
    background-color: #FFF;
}

.btn-criptografar:hover {
    border-color: #052051;
    background-color: #052051;
}

.btn-descriptografar:hover {
    background-color: #FFF;
}

.btn-copiar:hover {
    background-color: #D8DFE8;
}