:root {
  --branco: #fff;
  --azul-claro-100: #f3f5fc;
  --azul-claro-200: #eff1fa;
  --azul-escuro-300: #0a3871;
  --azul-escuro-400: #072b61;
  --cinza-400: #495057;
  --cinza-500: #343a40;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--cinza-500);
  background-color: var(--azul-claro-100);
}

.logo__alura {
  padding-left: 1rem;
  padding-top: 1.5rem;
}

.input {
  flex-grow: 1;
  margin-top: 5rem;
}

.container {
  display: flex;
  flex-direction: column;

  padding: 0 5%;
  padding-bottom: 2.5rem;
}

.textarea,
.textarea::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  color: var(--azul-escuro-300);

  width: 100%;

  background: transparent;

  resize: none;
  outline: none;
  border: none;
}

.input__area {
  height: 312px;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.info__text {
  font-size: 0.75rem;
}

.button__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.output {
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  padding: 2rem;
  margin-top: 4rem;
  text-align: center;
}

.output__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.output__area {
  height: 300px;
  font-size: 1.5rem;
  color: var(--cinza-400);
}

.footer {
  background-color: var(--azul-escuro-300);

  padding: 5px 0;

  width: 100%;
}

.footer ul {
  color: var(--azul-claro-200);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer img {
  width: 20px;
}

.footer a {
  color: var(--azul-claro-200);
  text-decoration: none;
}

.not__found-img {
  display: none;
  margin-bottom: 2rem;
}

.result {
  display: none;
}
